.searchContainer {
  position: relative;
  display: inline-block;
}
.searchInput {
  width: 300px;
  height: 20px;
  font-size: 14px;
  padding: 0.25em 0.5em;
  background-color: aliceblue;
  border: none;
  border-bottom: black 1px solid;
  padding-left: 35px;
}
.searchIcon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: gray;
}
